{% extends 'base.html' %}
{% block head %}
<title>Content</title>
<style>
        button {
            cursor: pointer;
        }
        img {
            border-style: none !important;
        }
    </style>


{% endblock %}
{% block body %}
<br><br><br>
<div class="container">
        
 <!-- {% if form and not image_id %}
    <!--<div class="alert alert-warning" role="alert">-->
        <!--<strong>Warning!</strong> Please reload the page if you're not seeing the image after uploading!-->
    <!--</div>-->
  <!--  {% if error %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endif %}
   
Please select a photo from the Flickr album and copy the link below after opening the photo.</p> -->
        
    <p>Please select a photo you wish to share from the Flickr album and link to it below</p>
    <p><a target="_blank" href="https://www.flickr.com/photos/166878378@N08/albums/72157701200346045" class="btn btn-info" role="button" aria-pressed="true">Go to album</a></p>
    <p>Please note that we need you to post the URL or link of the photo; which will appear on the address bar (where you enter the website name) <b>after</b> you've opened the photo by clicking on it.</p>
    <p><form method="post" name="photo"> 
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-info" type="submit" role="button" name="change" aria-pressed="true">Upload</button>
    </form></p>
{% endif %}

{% if image_id %} 

    <p>You are tagged in this photo with <b>{{ name }}</b> (one of your {{ role }}).</p>
    <p>According to what you set for your privacy setting, this image will be shared with <b>{{ setting }}</b>.</p>
    <p>If you wish to select a different setting than the default,
        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myPrivacyModal">click here</button>
    </p>


<!-- Modal -->

    <div>
        {% load static %}
        <img src="{% static imagePath %}" alt="My image" />
    </div><br>
    <!--<p>Would you like to share this photo?</p>-->

    <!--<p>If you do not wish to share this photo, please reupload another photo.</p>-->
    <p><form method="post" name="share">
    {% csrf_token %}
    <button class="btn btn-info" type="submit" role="button" name="shared" aria-pressed="true">Share</button>
    <a href="{% url 'upload' %}" class="btn btn-info">ReUpload</a>

    </form></p>
{% endif %} 
{% if result %}
    {% if 'pass' in result %}
    <p>Great! <b>{{ name }}</b> accepted your request for tagging!</p>
            <form method="post">
                {% csrf_token %}
                <b>Let's continue with the study!</b>
                <button type="submit" class="btn btn-info"
                        role="button" aria-pressed="true" name="next" value="Next">Next</button>
            </form>
    {% elif 'fail' in result %}
    <p>Woops! <b>{{ name }}</b> declined your request to share this photo!</p>
        <p>Would you like to change the privacy setting?</p><hr>
        <button id="Yes" type="button" class="btn btn-success" role="button" aria-pressed="true" name="choice" value="Yes">Yes</button>
        <button id="No" type="button" class="btn btn-danger" role="button" aria-pressed="true" name="choice" value="No">No</button>
        <br><br>
        <div id="privacy">
            <center><b>Please set your new privacy setting.</b><br><br>
                <form method="post" name="privacy">
                    {% csrf_token %}
                    <p>
                        <button class="btn btn-outline-danger" type="submit" role="button" name="change" aria-pressed="true" value="0">Private/Only me</button>
                        <button class="btn btn-outline-warning" type="submit" role="button" name="change" aria-pressed="true" value="0.25">Friends</button>
                        <button class="btn btn-outline-info" type="submit" role="button" name="change" aria-pressed="true" value="0.5">Friends of Friends</button>
                        <button class="btn btn-outline-success" type="submit" role="button" name="change" aria-pressed="true" value="0.75">Friends of Friends of Friends</button>
                        <button class="btn btn-outline-primary" type="submit" role="button" name="change" aria-pressed="true" value="1">Public</button>
                    </p>
                </form></center>
        </div>
        <div id="next">
            <form method="post">
                {% csrf_token %}
                <b>Let's continue with the study!</b>
                <button type="submit" class="btn btn-info"
                        role="button" aria-pressed="true" name="next" value="Next">Next</button>
            </form>
        </div>
    {% endif %}
{% endif %}
{% if 'Yes' in change %}
<form method="post">
    {% csrf_token %}
    <b>Let's continue with the study!</b>
    <button type="submit" class="btn btn-info"
            role="button" aria-pressed="true" name="next" value="Next">Next</button>
</form>
{% endif %}
</div>

<div class="modal" id="myPrivacyModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Privacy Setting</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <center><b>Please set your new privacy setting.</b><br><br>
            <form method="post" name="privacy">
                {% csrf_token %}
                <p>
                <div class="span 2"><button class="btn btn-outline-danger" type="submit" role="button" name="offeror" aria-pressed="true" value="0">Private/Only me</button> </div><br>
                    <div class="span 2"><button class="btn btn-outline-warning" type="submit" role="button" name="offeror" aria-pressed="true" value="0.25">Friends</button>&nbsp;
                        <button class="btn btn-outline-info" type="submit" role="button" name="offeror" aria-pressed="true" value="0.5">Friends of Friends</button>&nbsp;</div><br>
                    <button class="btn btn-outline-success" type="submit" role="button" name="offeror" aria-pressed="true" value="0.75">Friends of Friends of Friends</button>&nbsp;
                    <button class="btn btn-outline-primary" type="submit" role="button" name="offeror" aria-pressed="true" value="1">Public</button>&nbsp;
                </p>
            </form>
          </center>
        </div>

        <!-- Modal footer -->
        <!--<div class="modal-footer">-->
          <!--<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>-->
        <!--</div>-->

      </div>
    </div>
  </div>
<script>
        $( document ).ready(function() {
            $('#privacy').hide()
            $('#next').hide()
            $('#Yes').click(function() {
                $('#next').hide()
                $('#privacy').show()
            });
            $('#No').click(function() {
                $('#privacy').hide()
                $('#next').show();
            });
         });
    </script>
{% endblock %}
